$dark: #080f9e;
$peach: #f88450;
$lightBlue: #343ceb;
$green: #46b816;
$light: #daffca;

$fonts: 'Oswald', 'Century Gothic', 'Gill Sans', Sans-serif;

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

body {
  background-color: $light;
  color: $lightBlue;
  font-family: $fonts;
}

h1, h2, h3 {
  text-align: center;
  margin: 0;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.1em; }

#header {
  padding-bottom: 10px;
  margin-bottom: 5px;
  width: 100%;
  color: $light;
  background-color: $dark;

  .version {
    margin: -15px 5px 0 0;
    text-align: right;
    font-size: 0.5em;
  }
}

form {
  margin: 0 auto;
  width: 90%;

  label {
    font-size: 0.9em;
    letter-spacing: 1px;
  }

  input {
    width: 98%;
    margin-bottom: 10px;
    padding: 5px 2px;
    color: $lightBlue;
    font-size: 0.8em;
    text-align: center;
    border-color: $lightBlue;
  }

  #submit {
    width: 40%;
    margin-right: 1%;
    float: right;
    font-weight: 700;
    color: $green;
    border: none;
    border-radius: 3px 10px 3px 10px;
  }

  #submit:disabled {
    color: $light;
  }
  
  .valid {
    border: 2px solid $green;
    color: $green;
  }
  
}

#results {
  margin: 0 auto;
  width: 90%;
  display: none;
}

.billdetails {
  margin-bottom: 15px;
  color: $light;
  background-color: $lightBlue;
  border-radius: 3px;
  
  h3 {
    float: left;
    margin: -2px;
    color: $light;
    line-height: 0.9em;
    font-size: 3.6em;
    font-weight: 700;
    letter-spacing: -2px;
  }

  table {
    float: right;
    width: 70%;
    height: 100%;
    color: $peach;

    tr { height: 50%; }
    td { 
      width: 40%;
      padding-right: 6%;
    }
  } 

  .label { text-align: right; }
  .billinfo { text-align: left; }
}
