.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0
}

body {
  color: #222;
}

form, #results {
  margin: 0 auto;
  width: 90%;
}

h1, h2, h3 { font-family: 'Century Gothic', 'Gill Sans', Sans-serif; }

h1 {
  text-align: center;
  width: 100%;
  font-size: 1.5em;
}

h2 {
  text-align: center;
  font-size: 1.3em;
  margin: 5px;
}


h3 {
  text-align: center;
  font-size: 1.1em;
  margin: 0;
}


form input {
  width: 98%;
  margin-top: 3px;
  margin-bottom: 10px;
  padding: 5px 0 2px 5px;
  color: #555;
  font-size: 0.9em;
  text-align: center;
}

.valid {
  border: 2px solid green;
}


form label {
  color: #222;
}

#submit {
  width: 40%;
  float: right;
  font-weight: bold;
  border-radius: 3px 10px 3px 10px;
}

#results {
  display: none;
}

.billdetails {
  margin-bottom: 15px;
  background-color: #ccf;
  border-radius: 3px;
}

.billcost, .billdate {
  float: left;
  width: 45%;
}
.billcost {
  margin-right: 5px;
  text-align: right;
}
.billdate {
  margin-left: 5px;
  text-align: left;
}

.billcost:before {
  content: '\00A3';
}
